body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    /* background: url("../images/background.png"); */
    background-color: #15053b;
}

* {
    box-sizing: border-box;
}

/* Common margin */
button, div, form, input {
    margin: 1px;
}

.custom-jumbotron {
    background-image: url("../images/banner.png");
    background-size: cover;
    color: #ffffff;
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px 8px rgb(15, 1, 1);
}

.custom-btn-outline-primary {
    color: #4d91e9;
    border: 2px solid;
}

/* Custom rows */

.custom-row {
    margin: 1px;
}

/* Custom cols */

.custom-col {
    margin: 1px;
    padding: 0px;
}

/* Custom button class */

.custom-button {
    padding: 0;
    border: 2px solid;
    border-color: #240505;
}

.custom-card {
    background: #ffffff;
    border: 1px solid;
    /* height: 100%; */
    margin: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.custom-gif-card-body {
    background: #4d91e9;
}

.custom-movie-card-body {
    background: #e7ba3e;
}
